* {
    box-sizing: border-box;
    font-family: "Noto Sans", "sans-serif";
}

html {
    overflow-x: hidden;
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
}

body {
    margin: 0;
}

.container {
    max-width: 1260px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;

    &.small{
        max-width: 1080px;
        padding: 0 60px;
    }
}