.btn-wrapper {
      .btn {
        display: inline-block;
        background: $green;
        color: #fff;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 600;
        transition: background 0.3s ease;

        &:hover {
          background: $green-light;
        }

        &.phone {
            display: inline-block;
            background: $beige;
            color: $green-dark;
            padding: 1rem 1rem;
            font-size: 1rem;
            font-weight: bold;
            border-radius: 8px;
            text-decoration: none;
            transition: background 0.3s;

            &:hover {
            background-color: rgbaify($white, 0.9);
            }
        }

        &.circle{
          padding: 5px;
          font-size: 12px;
          border-radius: 50%;
          display: inline-flex;       
          align-items: center; 
          gap: 2px;   

          svg {
            display: block;
            width: 25px;
            height: 25px;
            flex-shrink: 0;  
          }  
        }
      }
    }