.gallery-section {
  padding: 2rem 1rem;
  background: #fff;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .swiper {
    padding: 2rem 0;

    .swiper-slide {
      a {
        display: block;

        img {
          width: 100%;
          max-height: 200px;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
          cursor: pointer;
          transition: transform 0.3s;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
    width: 50px;
    height: 50px;
    background: $green;
    color: #fff;
    border-radius: 50%;           // okrągłe
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background 0.3s, transform 0.3s;

    &:hover {
        background: $green-light;
        transform: scale(1.1);
    }

    &::after {                    // ikona strzałki Swipera
        font-size: 1.2rem;
        font-weight: bold;
    }
    }

    /* oddalenie przycisków od krawędzi */
    .swiper-button-prev {
        left: 10px;
    }
    .swiper-button-next {
        right: 10px;
    }


    .swiper-pagination-bullet {
      background: $green;
    }
  }


  @media (max-width: 768px) {
    .swiper-slide img {
      max-height: 150px;
      aspect-ratio: 4/3;
    }
  }

  @media (max-width: 480px) {
    .swiper-slide img {
      max-height: 120px;
        aspect-ratio: 4/3;

    }
  }
}
