.tiles{
  padding: 4rem 1rem;

  .container { max-width: 1200px; margin: 0 auto; .title-wrapper{ margin-bottom: 20px; } }


  .tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    

    .tile {
      display: flex;
      flex-direction: column;
      align-items: center;
      

      .tile-image {
        width: 100%;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          border-radius: 12px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
      }

      .tile-content {
        background: #fff;
        border-radius: 12px;
        padding: 2rem;
        margin-top: -40px;   // kafelek nachodzi na obrazek
        width: 90%;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        position: relative;
        z-index: 1;
        transition: transform 0.3s, box-shadow 0.3s;
        height: 100%;


          .tile-footer {
            display: flex;
            justify-content: space-between; // tekst po lewej, button po prawej
            align-items: center;             // wycentrowanie w pionie
            width: 100%;

            .btn-wrapper {
              margin-left: 20px;
              
            }
          }
      
        .title {
          margin-bottom: 10px;
          color: $green-light;
        }

        hr {
          border: none;
          border-top: 1px solid rgbaify($gray, 0.2);
          margin: 1rem 0;
        }

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }

  @media (max-width: 668px) {
  .tiles-wrapper {
    grid-template-columns: 1fr;
  }
}
}



